<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Top Secrets</h1>
        <a href="/success">Post a secret</a><br><br>
        {% for secret in secrets %}
            <fieldset>
            <p>{{secret.content}}</p>
            <p>{{secret.created_at}}</p>
            <p>{{secret.secret_likes.count}} likes</p>
            {% if secret.user.id == request.session.user_id %}
            <p>You created this secret</p>
            <form action="/secrets/{{secret.id}}/destroy" method="post">
                {% csrf_token %}
                <input type="submit" value="destroy">
            </form>
            {% elif not secret.liked %}
            <a href="/success/{{secret.id}}/likes">Like</a>
            {% else %}
            <p>You have liked this secret</p>
            {% endif %}
            </fieldset>
        {% endfor %}
    </body>
</html>









<!-- end -->
